// Media queries
@media screen and (min-width: 768px) {
	header {
		flex-direction: row;
		height: 100px;
		nav {
			ul {
				display: flex;
				justify-content: space-evenly;
				gap: 20px;
				margin-right: 15px;
				li {
					font-size: 50px;
				}
			}
		}
	}
	.logo {
		width: 160px;
		height: 110px;
	}
	main {
		background-color: nth($list: $colores, $n: 1);
		height: auto;
		width: auto;
	}
	.contenedor_index1 {
		grid-template-rows: repeat(4, auto);
		padding: 15px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: "div3 div1" "div3 div2" "div3 div2";
	}
	.contenedor_index2 {
		grid-template-rows: repeat(4, auto);
		padding: 15px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas: "div4 div6" "div5 div6" "div5 div6" "div5 div6";
	}
	.uno-main {
		width: auto;
		font-size: 80px;
	}
	.dos-main {
		width: auto;
		font-size: 35px;
		text-align: right;
		margin: 10px;
	}
	.cuatro-main {
		width: auto;
		font-size: 80px;
	}
	.cinco-main {
		width: auto;
		font-size: 35px;
		text-align: left;
		margin: 10px;
	}
	.contenedor_historia {
		grid-template-rows: 200px auto auto auto auto;
		padding: 15px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas: "div3 div2" "div4 div5" "div7 div6" "div8 div9" "div10 div11";
	}
	.dos-historia {
		width: auto;
		font-size: 35px;
	}
	.tres-historia {
		margin: 30px;
	}
	.cuatro-historia {
		width: auto;
		font-size: 35px;
	}
	.cinco-historia {
		margin: 30px;
	}
	.seis-historia {
		width: auto;
		font-size: 35px;
	}
	.siete-historia {
		margin: 30px;
	}
	.ocho-historia {
		width: auto;
		font-size: 35px;
	}
	.nueve-historia {
		margin: 30px;
	}
	.diez-historia {
		margin: 30px;
	}
	.once-historia {
		margin: 30px;
	}
	.contenedor_sabores {
		div {
			height: 400px;
			width: auto;
			object-fit: cover;
		}
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: "div1 div2 div3" "div4 div5 div6";
	}
	.contenedor_ferias {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "div1 div2" "div3 div4";
	}
	.contenedor_punto {
		background-color: nth($list: $colores, $n: 1);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		background-color: nth($list: $colores, $n: 1);
		height: auto;
		width: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 100px 200px 1fr;
		grid-template-areas: "div1 div4" "div2 div5" "div3 div6";
		div {
			iframe {
				width: 500px;
				height: 500px;
			}
		}
	}
	.uno-punto {
		height: auto;
		width: auto;
		text-align: center;
		align-items: center;
		font-size: 50px;
		padding: 15px;
	}
	.dos-punto {
		height: auto;
		width: auto;
		font-size: 55px;
		padding: 15px;
		text-align: center;
		align-items: center;
	}
	.tres-punto {
		height: auto;
		width: auto;
		text-align: center;
		align-items: center;
	}
	.cuatro-punto {
		height: auto;
		width: auto;
		text-align: center;
		align-items: center;
		font-size: 50px;
		padding: 15px;
	}
	.cinco-punto {
		height: auto;
		width: auto;
		font-size: 55px;
		padding-left: 15px;
	}
	.seis-punto {
		height: auto;
		width: auto;
		text-align: center;
		align-items: center;
	}
	.contenedor_contacto {
		height: auto;
		width: auto;
		text-align: center;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 1fr);
		grid-template-areas: "- - div3" "div1 div1 div3" "div2 div2 div3" "div4 div4 div8" "div5 div5 div8" "div6 div6 div8" "div7 div7 div8";
	}
	footer {
		padding: 30px;
		nav {
			ul {
				display: flex;
				justify-content: space-between;
				gap: 20px;
				margin-right: 15px;
				li {
					font-size: 50px;
					a {
						img {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
	.footer {
		padding: 30px;
		font-size: 30px;
	}
}
